*{margin: 0px; padding: 0px; font-family: 'calibri';}
li{
    cursor: pointer;
    border: 1px solid black;
}
li:hover{
    font-weight: bold;
}
.highlight{
    background-color: rgba(210, 207, 30, 0.596);
}
h3{
    margin-top: 15px;
    margin-bottom: 15px;
}
p{
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
}
canvas{
    border: 1px solid rgba(0,0,0,.1);
    margin: 20px 27px;
}
table{
    display: block;
    width: 50%;
    margin: 10px auto;
}
tr{
    width: 100%;
}
th{
    font-size: 24px;
}
td{
    font-size: 20px;
}
th, td{
    width: 149.33333333333px;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
.p1{
    background-color: rgb(123, 149, 222);
}
.p2{
    background-color: coral;
}
.sewer-highAlrm{
    width: 298.6666666666666px;
}
.tankfill-faultstr th, .tankfill-faultstr td{
    width: 25%;
}
.booster-faults tr th, .booster-faults tr td{
    width: 20%;
}
.waterLogo{
    width: 90%;
    margin-top: 50px;
}
.scada{
    position: absolute;
    font-weight: bold;
    font-size: 26px;
    right: 60px;
    top: 240px;
}
.blueRibbin{
    background-color: rgb(123, 149, 222);
    /* border: 1px solid black; */
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 10px 0;
}

.blueRibbin h3{
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: normal;
    padding-top: 12px;
    padding-bottom: 12px;
}
.pdfDiv{
    position: relative;
    border: 1px solid black;
    text-align: center;
    width: 900px;
    height: 1500px;
}
.thanku{
    margin-top: 50px;
}