<style>
    *{margin: 0px; padding: 0px;}
    canvas{
        border: 1px solid rgba(0,0,0,.1);
    }
    #boosterPdfDiv{
        border: 1px solid black;
        text-align: center;
        width: 850px;
        height: 4000px;
    }
    p{
        width: 40%;
        margin: auto;
    }
</style>

<h2>This is the booster PDF preview</h2>
<button ng-click="pdf.backToSelectFile()">Go Back</button>
<button ng-click="pdf.savePdf()">Save/Send PDF</button>

<div id="boosterPdfDiv">
    <h2>This is the Title of the thing</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer placerat justo porta dignissim consectetur. Praesent suscipit venenatis dignissim. Nullam rhoncus mauris 
        quis purus dictum, in gravida tellus porta. Nulla sit amet mauris metus. Maecenas eu lacus consequat, tristique tellus vitae, egestas lorem. Etiam auctor diam vel lorem 
        consectetur, non varius orci rhoncus. Curabitur placerat porta sollicitudin. Duis rhoncus eros vel luctus varius. Fusce mauris ipsum, fringilla eu commodo vel, luctus quis 
        magna. In eget dignissim libero, elementum porttitor nisl. Pellentesque facilisis sed enim semper venenatis
    </p>
    <canvas id="startschart"></canvas>
    <canvas id="totalrunchart"></canvas>
    <canvas id="avrgrunchart"></canvas>
    <canvas id="sleeptimechart"></canvas>
</div>