<!-- Figuring out Charts -->
<style>
    *{margin: 0px; padding: 0px;}
    canvas{
        border: 1px solid rgba(0,0,0,.1);
    }
    #sewerPdfDiv{
        border: 1px solid black;
        text-align: center;
        width: 850px;
        height: 4000px;
    }
    p{
        width: 40%;
        margin: auto;
    }
</style>
<h2>This is the Sewer Page</h2>
<button ng-click="pdf.backToSelectFile()">Go Back</button>
<button ng-click="pdf.savePdf()">Save/Send PDF</button>

<div id="sewerPdfDiv">
    <h2>This is the Title of the thing</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer placerat justo porta dignissim consectetur. Praesent suscipit venenatis dignissim. Nullam rhoncus mauris 
        quis purus dictum, in gravida tellus porta. Nulla sit amet mauris metus. Maecenas eu lacus consequat, tristique tellus vitae, egestas lorem. Etiam auctor diam vel lorem 
        consectetur, non varius orci rhoncus. Curabitur placerat porta sollicitudin. Duis rhoncus eros vel luctus varius. Fusce mauris ipsum, fringilla eu commodo vel, luctus quis 
        magna. In eget dignissim libero, elementum porttitor nisl. Pellentesque facilisis sed enim semper venenatis
    </p>
    <canvas id="startschart"></canvas>
    <canvas id="totalrunchart"></canvas>
    <canvas id="avrgrunchart"></canvas>
</div>

<script>

    // const data = {pump1: 209, pump2: 544} //dummy data
    // const data2 = {pump1: 400, pump2: 282} 

    // const determinYScale = (num1, num2) => {
    //     let n1 = num1.pump1, n2 = num1.pump2, tenLrg = 10, arr =[], past1, past2, lrgNum
    //     if(num2){
    //         past1 = num2.pump1;
    //         past2 = num2.pump2;
    //         if(past1 > n1) n1 = past1
    //         if(past2 > n2) n2 = past2
    //     }
    //     lrgNum = n1 >= n2? n1:n2

    //     while(lrgNum - tenLrg >=0 ) tenLrg *= 10

    //     tenLrg = (tenLrg / 10) * 3
    //     while(tenLrg <= lrgNum) tenLrg *=2
    //     for(let i = 0; i< 4; i++){arr.push((tenLrg / 3) * i)}
    //     return arr
    // }

    

    // const drawStartsChart = () => {
    //     let canvas = document.getElementById('piechart');
    //     const ctx = canvas.getContext('2d')
    //     canvas.width = 400
    //     canvas.height = 250
    //     const yScale = determinYScale(data, data2) // getting the y scale 
    //     let width = 25 // bar width 
    //     let X = 50 // first bar position 

    //     ctx.font = '24px serif'; 
    //     ctx.fillText("Starts", 175 , 40);
        
    //     ctx.fillStyle = '#000000'
    //     ctx.strokeStyle = 'rgba(0,0,0,.2)'
    //     for(let i = 0; i < yScale.length; i++){ // set up the y scale 
    //         let y = 170
    //         ctx.font = '12px serif'; 
    //         ctx.fillText(yScale[i], 10 , y + (-33.3333 * i));

    //         ctx.beginPath();
    //         ctx.moveTo(35, y + (-33.3333 * i));
    //         ctx.lineTo(350, y + (-33.3333 * i));
    //         ctx.stroke();
    //         ctx.closePath();
            
    //     }


    //     const tempVals = data2 ? [data.pump1, data.pump2, data2.pump1, data2.pump2] : [data.pump1, data.pump2]
    //     for(let i = 0; i < tempVals.length; i++){ // loop through the bars 
    //         const h = (tempVals[i] / yScale[yScale.length -1]) * 100

    //         if(i % 2 === 0){
    //             X += 50
    //             ctx.fillStyle = '#056ee6'
    //             ctx.fillRect(X , (canvas.height - h)-80, width, h) //making bar
    //         }
    //         else{
    //             ctx.fillStyle = '#d97502'
    //             ctx.fillRect(X, (canvas.height - h)-80, width, h) //making bar
    //         }


    //         ctx.font = '12px serif'; // words on top of bar
    //         ctx.fillStyle = '#000000'
    //         ctx.fillText(`${tempVals[i]}`, X +4, (canvas.height - h)-85);

    //         X += 35 // move over for next bar
    //     }

    //     // Bottom Legend 
    //     ctx.font = '12px serif';
    //     ctx.fillStyle = "#056ee6"
    //     ctx.fillRect(120, 220, 10, 10)
    //     ctx.fillStyle = '#000000'
    //     ctx.fillText("Pump 1", 135, 229)

    //     ctx.fillStyle = "#d97502"
    //     ctx.fillRect(200, 220, 10, 10)
    //     ctx.fillStyle = '#000000'
    //     ctx.fillText("Pump 2", 215, 229)

    //     if(data2){
    //         ctx.fillText("Date 1", 110, 190)
    //         ctx.fillText("Date 2", 230, 190)
    //     }

    // }

    // drawStartsChart()
    

</script>