
<h2>This is the Sewer Page</h2>
<button ng-click="pdf.backToSelectFile()">Go Back</button>
<button ng-click="pdf.savePdf()">Make PDF</button>
<button ng-click="dp.saveData()">Save Data</button>

<div id="SewerPdfDiv" class="pdfDiv">
    <img class="waterLogo" src="../../img/Water logo.png" alt="">
    <h3 class="scada">SCADA</h3>
    <h3>Customer Title and Address</h3>
    <div class="blueRibbin"><h3>Report Title and</h3></div>
    
    <canvas id="startschart"></canvas>
    <canvas id="totalrunchart"></canvas>
    <canvas id="avrgrunchart"></canvas>
</div>
